In [163]:
import pandas as pd
import numpy as np
import re
import collections
import json

In [69]:
bldcount('bloodtype1.txt')

NameError: name 'bldcount' is not defined

In [59]:
def bldcount()

SyntaxError: invalid syntax (Temp/ipykernel_47264/3251952822.py, line 1)

In [105]:
fileObject = open("bloodtype2.txt", "r")
string = fileObject.read()
print(string)
string = [string]

AB AB B O A A AB O AB A O O A A A O O O AB O A A A A A AB AB A AB O AB O A O O O AB O AB AB AB A A O

In [106]:
newStrings = []
for s in string:
    newStrings.append(re.sub('\s+', '  ', s))
print(newStrings)

['AB  AB  B  O  A  A  AB  O  AB  A  O  O  A  A  A  O  O  O  AB  O  A  A  A  A  A  AB  AB  A  AB  O  AB  O  A  O  O  O  AB  O  AB  AB  AB  A  A  O  ']

In [170]:
mega_list = []
new_list = [re.sub("\s+", "','", newStrings[0].strip())]
for each_c in new_list:
    mega_list.append(each_c)
mega_list[0]

"AB','AB','B','O','A','A','AB','O','AB','A','O','O','A','A','A','O','O','O','AB','O','A','A','A','A','A','AB','AB','A','AB','O','AB','O','A','O','O','O','AB','O','AB','AB','AB','A','A','O"

In [190]:
changed = str(mega_list[0]).replace("''", '"')
changed
changed_plus = str(changed).replace("'", '"')
changed_plus

'AB","AB","B","O","A","A","AB","O","AB","A","O","O","A","A","A","O","O","O","AB","O","A","A","A","A","A","AB","AB","A","AB","O","AB","O","A","O","O","O","AB","O","AB","AB","AB","A","A","O'

In [184]:

item_list = ['AB','AB','B','O','A','A','AB','O','AB','A','O','O','A','A','A','O','O','O','AB',
             'O','A','A','A','A','A','AB','AB','A','AB','O','AB','O','A','O','O','O','AB','O',
             'AB','AB','AB','A','A','O']

occ_dict = {}

for item in item_list:
    if item not in occ_dict:
        occ_dict[item] = 1
    else:
        occ_dict[item] +=1
d1 = {'AB':'patients of blood type AB', 'B':'patients of blood type B',
      'O':'patients of blood type O', 'A': 'patients of blood type A'}
result = dict((d1[key], value) for (key, value) in occ_dict.items())
result

{'patients of blood type AB': 13,
 'patients of blood type B': 1,
 'patients of blood type O': 15,
 'patients of blood type A': 15}

In [ ]:
import pandas as pd
import numpy as np
import re
import json


def bldcount(txt):
    fileObject = open(txt, "r")
    string = [fileObject.read()]
    newStrings = []
    for s in string:
        newStrings.append(re.sub('\s+', '  ', s))
    mega_list = []
    new_list = [re.sub("\s+", "','", newStrings[0].strip())]
    for each_c in new_list:
        mega_list.append(each_c)
    mega_list[0]
    occ_dict = {}
    for item in mega_list:
        if item not in occ_dict:
            occ_dict[item] = 1
        else:
            occ_dict[item] +=1
    d1 = {'AB':'patients of blood type AB', 'B':'patients of blood type B',
          'O':'patients of blood type O', 'A': 'patients of blood type A'}
    result = dict((d1[key], value) for (key, value) in occ_dict.items())
    return result

In [185]:
def bldcount("bloodtype2.txt"):

{'patients of blood type AB': 13,
 'patients of blood type B': 1,
 'patients of blood type O': 15,
 'patients of blood type A': 15}

In [191]:
#######################################################################

In [265]:
df = pd.read_csv('currencies.txt', delimiter = "\t")
df.set_axis(['CUR', 'RATE', 'NAME'], axis='columns', inplace=True)
df

    CUR      RATE                NAME
0   AUD  1.034516   Australian Dollar
1   CHF  1.023741         Swiss Franc
2   CNY  0.155018        Chinese Yuan
3   DKK  0.165144        Danish Krone
4   EUR  1.229654                Euro
5   GBP  1.555099       British Pound
6   HKD  0.127021    Hong Kong Dollar
7   INR  0.017764        Indian Rupee
8   JPY  0.012414        Japanese Yen
9   MXN  0.075185        Mexican Peso
10  MYR  0.314541   Malaysian Ringgit
11  NOK  0.167706     Norwegian Krone
12  NZD  0.800359  New Zealand Dollar
13  PHP  0.023323     Philippine Peso
14  SEK  0.148269       Swedish Krona
15  SGD  0.788871    Singapore Dollar
16  THB  0.031379           Thai Baht

In [325]:
def curconv(cur, amount):
    query = df[(df['CUR'] == cur)]
    converted = query['RATE'] * amount
    return converted

In [326]:
curconv('JPY', 100)

8    1.241401
Name: RATE, dtype: float64

In [327]:
6 + ‘a’

SyntaxError: invalid character '‘' (U+2018) (Temp/ipykernel_47264/51415921.py, line 1)

In [328]:
item_list = ['AB','AB','B','O','A','A','AB','O','AB','A','O','O','A','A','A','O','O','O','AB',
             'O','A','A','A','A','A','AB','AB','A','AB','O','AB','O','A','O','O','O','AB','O',
             'AB','AB','AB','A','A','O']

In [330]:
item_list[46]

IndexError: list index out of range

In [334]:
import math
math.sqrt(-1.0)

ValueError: math domain error

In [335]:
 print(x)

NameError: name 'x' is not defined